{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<!-- Preloader -->

		<div id="preloader">
			<div id="status"></div>
		</div>

		<!-- Home start -->

		<section id="home" class="pfblock-image screen-height">
			<div class="home-overlay"></div>
			<div class="intro">
				<div class="start">Creative Web Development Agency</div>
				<h1>Creative Web</h1>
				<div class="start">Based in Los Angeles</div>
			</div>

			<a href="#services">
				<div class="scroll-down">
					<span>
						<i class="fa fa-angle-down fa-2x"></i>
					</span>
				</div>
			</a>
		</section>

		<!-- Home End -->


		<!-- Navigation start -->

		<header class="header">
			<nav class="navbar navbar-custom" role="navigation">
				<div class="container">

					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#home">Creative Web</a>
					</div>

					<div class="collapse navbar-collapse" id="custom-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Home</a></li>
							<li><a href="#services">Serivces</a></li>
							<li><a href="#approach">Approach</a></li>
							<li><a href="#skills">Skills</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- Navigation End -->


		<!-- Service Start -->

		<section id="services" class="pfblock">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<div class="pfblock-header wow fadeInUp">
							<h2 class="pfblock-title">Services</h2>
							<div class="pfblock-line"></div>

							<div class="pfblock-subtitle">
								We provide with highly passionated, professional skills and mindset.
							</div>
						</div>

					</div>
				</div> <!-- First row ends -->


				<div class="row" >

					<div class="col-sm-3 ">
						<div class="service-box wow slideInLeft" data-wow-duration="2s">
							<div class="service-icon">
								<span>
									<i class="fa fa-diamond fa-5x"></i>
								</span>
							</div>
							<div class="service-desc">
								<h3 class="pfblock-title">Branding</h3>
								<div class="pfblock-line"></div>
								<div class="">
									<p>What is Branding? It is the marketing practice of creating a name, symbol or design that identifies and differentiates a product from other products. If you plan to start up your own business, you need to Brand your company first.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-3">
						<div class="service-box wow slideInLeft" data-wow-duration="2s">
							<div class="service-icon">
								<span>
									<i class="fa fa-desktop fa-5x"></i>
								</span>
							</div>
							<div class="service-desc">
								<h3 class="pfblock-title">Web Design</h3>
								<div class="pfblock-line"></div>
								<div class="">
									<p>
									Even if your web app is built with good tech, good functionality, You will have no pay attention if your web app has bad user experience, unpretty design lookging.  We offer modern, simple, mobile-responsive design and a good user experience for your web app.
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-3">
						<div class="service-box wow slideInRight" data-wow-duration="2s">
							<div class="service-icon">
								<span>
									<i class="fa fa fa-cubes fa-5x"></i>
								</span>
							</div>
							<div class="service-desc">
								<h3 class="pfblock-title">Web Programming</h3>
								<div class="pfblock-line"></div>
								<div class="">
									<p>It is all about the code, code code! We like coding. We build web app with well-known, well-established, well-supported programming language and framework, so the web app is very easily editable, customizable and expandable. </p>
								</div>
							</div>
						</div>
					</div>


					<div class="col-sm-3">
						<div class="service-box wow slideInRight" data-wow-duration="2s">
							<div class="service-icon">
								<span>
									<i class="fa fa-bullhorn fa-5x"></i>
								</span>
							</div>
							<div class="service-desc">
								<h3 class="pfblock-title">Web Marketing</h3>
								<div class="pfblock-line"></div>
								<div class="">
									<p>
										Ok. You've got the best, unique, competitive service or product. How do you let the world know that you exist? Posting your web address in facebook, twitter or instagram? Well. That is not enough.  You need to expose yourself to the world in better way than that.
									</p>
								</div>
							</div>
						</div>
					</div>


				</div>  <!-- Second row ends -->
			</div>
		</section>

	<!-- Services end -->


	<!-- Approach Start -->

	<section id="approach" class="pfblock">
		<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="pfblock-header wow fadeInUp" data-wow-duration="2s">
							<h2 class="pfblock-title">Approach</h2>
							<div class="pfblock-line"></div>
							<div class="pfblock-subtitle">
								Let us tell you how we approach and process the project.
							</div>
						</div>
			</div>
		</div> <!-- First row ends -->




			<!-- Second Row Starts -->
			<div class="row wow slideInLeft" data-wow-duration="1s" >
					<div class="col-sm-4 text-center">
						<div class="panel panel-info ">
						  <div class="panel-heading">
						    <h3 class="panel-title">Estimate</h3>
								<div id="approach-icon">
									<i class="fa fa-calculator"></i>
								</div>
						  </div>
						  <div class="panel-body">
						   Tell us about your project and we will estimate and research about your project.
						  </div>
						</div>
					</div>

					<div class="col-sm-4 text-center">
						<div class="panel panel-info">
						  <div class="panel-heading">
						    <h3 class="panel-title">Set up</h3>
								<div id="approach-icon">
									<i class="fa fa-database"></i>
								</div>
						  </div>
						  <div class="panel-body">
						   Buying web address, setting up the host service and basic database.
						  </div>
						</div>
					</div>

					<div class="col-sm-4 text-center">
						<div class="panel panel-info">
						  <div class="panel-heading">
						    <h3 class="panel-title">Prototype</h3>
								<div id="approach-icon">
									<i class="fa fa-cogs"></i>
								</div>
						  </div>
						  <div class="panel-body">
						   Start working on project and make a viable web app.
						  </div>
						</div>
					</div>


			</div>
			<!-- Second Row Ends -->


			<!-- Third Row Starts -->
			<div class="row row-flex row-flex-wrap wow slideInRight" data-wow-duration="2s">

				<div class="col-sm-4 text-center">
					<div class="panel panel-info flex-col">
					  <div class="panel-heading">
					    <h3 class="panel-title">Prettification</h3>
							<div id="approach-icon">
								<i class="fa fa-paint-brush"></i>
							</div>
					  </div>
					  <div class="panel-body flex-grow">
					   Adjusting the layout and apply uniquie design concept to your project.
					  </div>
					</div>
				</div>

				<div class="col-sm-4 text-center">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title">Final Touch</h3>
							<div id="approach-icon">
								<i class="fa fa-pencil"></i>
							</div>
					  </div>
					  <div class="panel-body">
					   Make a small change upon request and final test for project.
					  </div>
					</div>
				</div>

				<div class="col-sm-4 text-center">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title">Launch</h3>
							<div id="approach-icon">
								<i class="fa fa-thumbs-o-up"></i>
							</div>
					  </div>
					  <div class="panel-body">
					   Hurrah! Now You are ready to go! Enjoy your web app.
					  </div>
					</div>
				</div>

			</div>
			<!-- Third Row Ends -->

		</div>

	</section>

	<!-- Approach End -->


	<!-- Skills Start -->
	<section id="skills" class="pfblock">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header wow fadeInUp" data-wow-duration="1s">
								<h2 class="pfblock-title">Skills</h2>
								<div class="pfblock-line"></div>
								<div class="pfblock-subtitle">
									Technology, platforms and tools we use
								</div>
							</div>
				</div>
			</div> <!-- First row ends -->

				<div id="skills-row" class="row text-center">

						<div class="col-sm-4 wow zoomIn">
							<div class="skills-box">
								<h2>Python</h2>
								<p>We use python as a programming lanuage.</p>
							</div>
						</div>

						<div class="col-sm-4 wow zoomIn">
							<div class="skills-box">
								<h2>Django</h2>
								<p>We use django as a web framework.</p>
							</div>
						</div>

						<div class="col-sm-4 wow zoomIn">
							<div class="skills-box">
								<h2>Mezzanine</h2>
								<p>We use mezzanine as a web CMS.</p>
							</div>
						</div>

				</div> <!-- Second Row Ends -->


				<div id="cbp-qtrotator" class="cbp-qtrotator">
						<div class="cbp-qtcontent">
							<img src="{% static "images/youtube.jpg" %}">
							<blockquote>
								<p>"Python is fast enough for our site and allows us to produce maintainable features in record times, with a minimum of developers," said Cuong Do, Software Architect,</p>
								<footer>YouTube.com</footer>
							</blockquote>
						</div>
						<div class="cbp-qtcontent">
							<img src="{% static "images/google.png"  %}">
							<blockquote>
								<p>"Python has been an important part of Google since the beginning, and remains so as the system grows and evolves. Today dozens of Google engineers use Python, and we're looking for more people with skills in this language." said Peter Norvig, director of search quality at Google, Inc.</p>
								<footer>Google.com</footer>
							</blockquote>
						</div>
						<div class="cbp-qtcontent">
							<img src="{% static "images/django.png" %}">
							<blockquote>
								<p>"Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source. "</p>
								<footer>Djangoproject.com</footer>
							</blockquote>
						</div>
						<div class="cbp-qtcontent">
							<img src="{% static "images/mezza.jpeg" %}">
							<blockquote>
								<p>"Mezzanine is a powerful, consistent, and flexible content management platform. Built using the Django framework, Mezzanine provides a simple yet highly extensible architecture that encourages diving in and hacking on the code. Mezzanine is BSD licensed and supported by a diverse and active community."</p>
								<footer>Mezzanine.judo.org</footer>
							</blockquote>
						</div>
					</div> <!-- Third row Ends -->


			</div>

	</section>

	<!-- Skills End -->

	<!-- Contact Starts -->
	<section id="contact">
		<div class="container">
			<form action="" method="POST" role="form">
				<legend>Contact for more information</legend>

				<div class="form-group">
					<label for="">label</label>
					<input type="text" class="form-control" id="" placeholder="Input field">
				</div>



				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</section>


	<!-- Contact Ends -->



	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>

		<!-- jQuery -->
		 <script src="{% static "js/jquery-1.11.2.js" %}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/jquery.parallax-1.1.3.js"%}"></script>
		<script src="{% static "js/imagesloaded.pkgd.js" %}"></script>
		<script src="{% static "js/jquery.sticky.js" %}"></script>
		<script src="{% static "js/smoothscroll.js" %}"></script>
		<script src="{% static "js/wow.js" %}"></script>
		<script src="{% static "js/jquery.easypiechart.js" %}"></script>
		<script src="{% static "js/noframework.waypoints.js" %}"></script>
		<script src="{% static "js/jquery.cbpQTRotator.js" %}"></script>
		<script src="{% static "js/custom.js" %}"></script>

{% endblock %}
